<a href="https://colab.research.google.com/github/Tomi-Okusanya/Tomi-Okusanya.github.io/blob/main/ScraperforProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
import os

In [26]:
URL = "https://www.thecompleteuniversityguide.co.uk/student-advice/careers/what-do-graduates-do-and-earn#Whatdograduatesearn"
html = requests.get(URL)
soup = BeautifulSoup(html.content, 'html.parser')

In [27]:
souptable=soup.find_all("div", attrs={"art_table"})
print("Numebr of tables on site",len((souptable)))

Numebr of tables on site 2

In [30]:
table1=souptable[1]
body=table1.find_all("tr")
head=body[0]
body_rows=body[1:]
headings=[]
for item in head.find_all("th"):
    item=(item.text).rstrip("\n")
    headings.append(item)
print(headings)

['Subject', 'High-skilled', 'Medium-skilled', 'Low-skilled']

In [35]:
import re
re.compile('<title>(.*)</title>')

re.compile(r'<title>(.*)</title>', re.UNICODE)

In [36]:
all_rows = []
for row_num in range(len(body_rows)):
  row=[]
  for row_item in body_rows[row_num].find_all("td"):
     aa=re.sub("(\xa0)|(\n)|,","",row_item.text)
     row.append(aa)
  all_rows.append(row)

In [37]:
df = pd.DataFrame(data=all_rows,columns=headings)
df.head()

                                Subject High-skilled Medium-skilled Low-skilled
0                  Accounting & Finance       £25000         £21000      £19000
1  Aeronautical & Aerospace Engineering       £28000         £22000      £20000
2      African & Middle Eastern Studies       £26000         £18000         N/A
3                Agriculture & Forestry       £23500         £19800      £19000
4                      American Studies       £23000         £21000      £19000

In [40]:
df.to_csv('Paybasedoffdegree.csv')